.inputAddModal {
  margin: 10px !important;
}

.btnAddModal {
  margin: auto !important;
}

.addModal {
  background-color: #19b219 !important;
  color: #fff !important;
  width: 130px;
  height: 40px;
  font-size: 10px !important;
}
